<h1>Doctors#new</h1>
<p>Find me in app/views/doctors/new.html.erb</p>

<%= form_for(@doctor) do |f| %>

  <%= f.label :pref_title %>
  <%= f.select :pref_title, ['', 'Dr.', 'Mr.', 'Mrs.', 'Ms.'] %>

  <%= f.label :full_name %>
  <%= f.text_field :full_name %> <br />

  <%= f.label :photo %>
  <%= f.file_field :photo %>

  <%= f.label :resume %>
  <%= f.file_field :resume %> <br />

  <%= f.label :target_salary %>
  $<%= f.text_field :target_salary %> <br />

  <%= f.label :phone_number %>
  <%= f.text_field :phone_number %>

  <%= f.submit "Submit" %>
<% end %>
